@use '../utils' as ut;

.gallery__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-inline: 4rem;
}
// .media__container {
//   width: 100%;
//   height: 500px;
// }
.media__container {
  margin-bottom: 0.2rem;
}

.media__content {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 17rem;
  max-height: 100%;
  border-radius: .375rem;
  object-fit: cover;
}
.legend {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
// .legend__likes {
  
// }
// .legend__icon {

// }