.scroll-to-top {
  position: fixed;
}

.card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.profil__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 3rem auto;
  border-radius: 25px;
  background-color: #fafafa;
}

.profil__img__container {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: 1rem 1rem 2rem;
  box-shadow: 0px 4px 12px #757575;
  background-color: white;
}

.profil__name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  color: #d3573c;
}

.location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #911d1d;
}

.description__price {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}

.profil__tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-item {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #911d1d;
  box-sizing: border-box;
  padding: 0.2rem;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}

.gallery__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-inline: 4rem;
}

.media__container {
  margin-bottom: 0.2rem;
}

.media__content {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 17rem;
  max-height: 100%;
  border-radius: 0.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.legend {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

.link {
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 2rem;
  margin-inline: 4rem;
}

.logo {
  width: 200px;
  height: 50px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.tag__list {
  display: flex;
  align-items: center;
}

.heading {
  margin: initial;
  font-family: DM Sans;
  text-align: center;
  font-size: 2.1rem;
  color: #911d1d;
}/*# sourceMappingURL=main.css.map */